<div class="hint">
    It's your day
</div>

<div class="container">
    <div class="month">
        {{#each month in months}}
            <button class="button"
                {{action "selectMonth" month}}
                {{bind-attr id=month}}>
                &nbsp;
            </button>
        {{/each}}
    </div>
    <div class="day">
        <button></button>
    </div>
    <div class="year">
        <button></button>
    </div>
</div>