<div class="container">
    <div class="clue">
        <div>Fourth scavenge</div>
        <div>&nbsp;</div>
    </div>
    <form {{action "processInput" on="submit" bubbles=false}}>
        <div class="input-error">{{{inputError}}}</div>
        {{input class="input-box" value=inputValue}}
    </form>

    {{#if showKey}}
        <div class='result-key'>
            <div>Correct!</div>
            <div>Reward key: {{key}}</div>
        </div>
    {{/if}}
</div>
