<div class="container">
    <div class="display-text fadeout">
        {{currentDisplay}}
    </div>

    <form {{action "processInput" on="submit" bubbles=false}}>
        {{input class="input-box" value=inputValue}}
    </form>
</div>
