<div class="container">
    <div>Over wood and under cloth</div>
    <div>In between the layers soft</div>
    <div>&nbsp;</div>
    <div>Seek where none go but beasts and babes</div>
    <div>But hark!</div>
    <div>&nbsp;</div>
    <div>With ferocious teeth and cunning guile</div>
    <div>The beast does guard its treasure</div>
    <div>&nbsp;</div>
    <form {{action "processInput" on="submit" bubbles=false}}>
        <div class="input-error">{{{inputError}}}</div>
        {{input class="input-box" value=inputValue}}
    </form>
</div>
