<div class="hint">
    {{#if showKey}}
        <div class='result-key'>
            <div>Correct!</div>
            <div>Reward key: {{key}}</div>
        </div>
    {{else}}
        <span class="message">The family is more than the individual</span>
    {{/if}}
</div>
<div class="puzzle-container">
    <div class="indicator">
        <span class="glyphicon glyphicon-ok hidden"></span>
        <span class="glyphicon glyphicon-remove hidden"></span>
    </div>

    {{#each month in months}}
        <div class="month">
            {{#each day in month}}
                <div class="btn btn-default day"
                    {{action "selectDay" day bubbles=false}}
                    {{bind-attr id=day.id}}>
                    &nbsp;
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>
