<div class="container">
    <div class="clue">
        <div>There is a cave that kitties love</div>
        <div>Babies try but cannot fit</div>
        <div>Doggies want but are too big</div>
        <div>And People, they don't even try</div>
        <div>But kitties do and are content</div>
        <div>&nbsp;</div>
        <div>'Til the vacuum comes round and scares them out</div>
    </div>
    <form {{action "processInput" on="submit" bubbles=false}}>
        <div class="input-error">{{{inputError}}}</div>
        {{input class="input-box" value=inputValue}}
    </form>

    {{#if showKey}}
        <div class='result-key'>
            <div>Correct!</div>
            <div>Reward key: {{key}}</div>
        </div>
    {{/if}}
</div>
