<div class="container">
    <div class="clue">
        <div>A King's true court is round his table</div>
        <div>The Minstrels dance and sing</div>
        <div>The Lords frolick and gossip</div>
        <div>The Ladies plot</div>
        <div>&nbsp;</div>
        <div>But where is Arther?</div>
        <div>Hiding his treasure</div>
        <div>where naught but babes can see</div>
    </div>
    <form {{action "processInput" on="submit" bubbles=false}}>
        <div class="input-error">{{{inputError}}}</div>
        {{input class="input-box" value=inputValue}}
    </form>

    {{#if showKey}}
        <div class='result-key'>
            <div>Correct!</div>
            <div>Reward key: {{key}}</div>
        </div>
    {{/if}}
</div>
