<div class="hint">
    <span class="message">The family is more than the individual</span>
    {{#if showKey}}
        <div class='result-key'>
            <div>Correct!</div>
            <div>Reward key: {{key}}</div>
        </div>
    {{/if}}
</div>
<div class="puzzle-container">
    {{#each month in months}}
        <div class="month">
            {{#each day in month}}
                <div class="btn btn-default"
                    {{action "selectday" day bubbles=false}}
                    {{bind-attr id=id}}>
                    &nbsp;
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>
