.page-two {
    .hint {
        text-align: center;
        opacity: 0.0;
        width: 100%;

        transition: opacity 1.0s linear;

        &.fadein {
            opacity: 1.0;
        }
    }


}