.page-five {
    .hint {
        text-align: center;
        width: 100%;
    }

    .puzzle-container {
        margin-left: 10%;

        .month {
            margin-top: -7px;

            .group {
                display: block;
                line-height: 0px;
            }
            .btn {
                display: inline-block;
                margin-left: -5px;
                outline: none;
                width: 34px;
                height: 34px;
            }
        }
    }
}