.page-five {
    .puzzle-container {
        margin-left: 10%;

        .month {
            margin-top: -7px;

            .group {
                display: block;
                line-height: 0px;
            }
            .btn {
                display: inline;
                margin-left: -4px;
                margin-bottom: 5px;
                outline: none;
                min-width: 34px;
            }
        }
    }
}