.page-one {
    .container {
        width: 600px;
        margin-left: auto;
        margin-right: auto;

        .display-text {
            text-align: center;
            margin-bottom: 50px;
            opacity: 1.0;

            transition: opacity .5s linear;

            &.fadeout {
                opacity: 0.0;
            }
        }
        .input-error {
            width: 100%;
            text-align: center;
            font-size: 24px;
            color: #800000;
            font-style: italic;
            padding-bottom: 15px;
        }
        .input-box {
            width: 50%;
            margin-left: 25%;
            padding: 20px;
            font-size: 24px;
            border-radius: 15px;
            border: 1px solid rgb(215, 215, 215);
            color: rgb(144, 144, 144);
            outline: none;
        }
    }
}