.page-two {
    .hint {
        text-align: center;
        opacity: 0.0;
        width: 100%;

        transition: opacity 1.0s linear;

        &.fadein {
            opacity: 1.0;
        }
    }

    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;

        .button {
            cursor: pointer;
        }
        .month {
            float: left;
            width: 50px;
            height: 100px;
            background-color: blue;
        }
        .day {
            float: left;
            width: 50px;
            height: 100px;
            background-color: green;
        }
        .year {
            float: left;
            width: 50px;
            height: 100px;
            background-color: yellow;
        }
    }
}